container_commands:
   10_migrate:
      command: "php artisan migrate --force"
      cwd: "/var/app/ondeck"
      leader_only: true
#   11_seed:
#      command: "php artisan db:seed --force"
#      cwd: "/var/app/ondeck"
#      leader_only: true
   12_cache:
      command: "php artisan cache:clear"
      cwd: "/var/app/ondeck"
   13_optimize:
      command: "php artisan optimize --force"
      cwd: "/var/app/ondeck"
   14_permissions:
      command: "chmod 777 -R /var/app/ondeck"
      cwd: "/var/app/ondeck"